<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@shwnchpl">
<meta name="twitter:creator" content="@shwnchpl">
<meta name="twitter:title" content="{{ page.title | default: site.title }}">
<meta name="twitter:url" content="{{ site.url | append: page.url}}">
<meta name="twitter:description" content="{{ page.description | default: page.excerpt | default: site.description }}">
<meta name="twitter:image:src" content="{{ page.featured_image | default: site.author.avatar | prepend: site.url }}"> 
